<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}">Post Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .post-content {
            white-space: pre-line;
        }
        .comment {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h3><a th:href="@{/}" >&lt;&lt;Назад</a></h3>
</div>

<div class="container mt-5">
    <div id="editPostForm" style="display: none;">
        <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Название поста</label>
                <input type="text" class="form-control" id="title" name="title" maxlength="50" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Картинка</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Текст поста</label>
                <textarea class="form-control" id="content" name="content" rows="5" maxlength="2048" required></textarea>
            </div>
            <div class="mb-3">
                <label for="tags" class="form-label">Теги</label>
                <select id="tags" name="tags" class="form-select" multiple="multiple">
                    <option th:each="tag : ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="button" class="btn btn-secondary" onclick="hideEditPostForm()">Отмена</button>
        </form>
    </div>
</div>

<div class="container mt-5">
    <div id="postForm" style="display: block;">
        <h1 th:text="${post.title}">Post Title</h1>
        <img th:src="${post.imageUrl}" alt="Post Image" class="img-fluid mb-3">
        <div class="post-content" th:utext="${post.content}"></div>

        <div class="mt-3">
            <strong>Теги:</strong>
            <span th:each="tag : ${post.tags}" class="badge bg-secondary me-1" th:text="${tag.name}"></span>
        </div>

        <div class="mt-3">
            <form th:action="@{/posts/{id}/like(id=${post.id})}" method="post" style="display: inline;">
                <button type="submit" class="btn btn-success"><span>👍 <span th:text="${likesCount}"></span></span></button>
            </form>
        </div>

        <div class="mt-3">
            <button class="btn btn-primary mb-3" onclick="showEditPostForm()">Редактировать</button>

            <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
    </div>

    <div class="mt-5" id="commentAddForm" style="display: block;">
        <h3>Добавить комментарий</h3>
        <form th:action="@{/posts/{id}/comments/add(id=${post.id})}" method="post">
            <textarea name="commentText" class="form-control mb-2" maxlength="300" required></textarea>
            <button type="submit" class="btn btn-success">Добавить комментарий</button>
        </form>
    </div>

    <div class="mt-5">
        <h3>Комментарии</h3>
        <div th:each="comment : ${comments}" class="comment">
            <form class="comment-form" th:action="@{/comments/{id}/edit(id=${comment.id})}" method="post">
                <div class="mb-3">
                    <textarea name="postId" hidden="" th:text="${post.id}"></textarea>
                    <textarea id="comment" name="commentText" class="form-control mb-2 comment-textarea" rows="5" th:text="${comment.content}"></textarea>
                </div>
            </form>
            <form th:action="@{/comments/{id}/delete(id=${comment.id})}" method="post">
                <textarea name="postId" hidden="" th:text="${post.id}"></textarea>
                <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll('.comment-textarea').forEach(textarea => {
        textarea.addEventListener('keydown', function(event) {
            if (event.ctrlKey && event.key === 'Enter') {
                event.preventDefault();
                const form = textarea.closest('.comment-form');
                form.submit();
            }
        });
    });
</script>
<script>
    function showEditPostForm() {
        document.getElementById('editPostForm').style.display = 'block';
        document.getElementById('postForm').style.display = 'none';
        document.getElementById('commentAddForm').style.display = 'none';
    }

    function hideEditPostForm() {
        document.getElementById('editPostForm').style.display = 'none';
        document.getElementById('postForm').style.display = 'block';
        document.getElementById('commentAddForm').style.display = 'block';
    }
</script>
</body>
</html>